.container::-webkit-scrollbar {
  width: 0px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-top: 5vh;
  height: 80vh;
  width: 40vw;
  border: 0.5px solid #ddd;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.datePicker {
  display: flex;
  width: 60%;
  margin: 20px;
}

.datePickerLabel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  width: 20%;
  text-align: start;
  white-space: nowrap;
}

.dropdownContainer{
  width: 60%;
  margin: 20px;
}

.dropdown {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
  outline: none;
  cursor: pointer;
  appearance: none;
  background-color: rgb(249, 249, 249);
  width: 100%;
  font-weight: bold;
  font-size: 0.8vw;
}
.option {
  text-align: left;
}

.repeatTypeLabel {
  padding: 5px;
}

.customOptionBox {
  display: flex;
  width: 60%;
  margin: auto;
}
.leftBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}
.rightBox {
  width: 40%;
}

@media all and (max-width: 1200px) {
  .container {
    width: 60vw;
  }
  .datePickerLabel {
    width: 40%;
  }
}
@media all and (max-width: 600px) {
  .container {
    width: 85vw;
  }
  .datePicker {
    width: 100%;
  }
  .datePickerLabel {
    width: 40%;
  }
}